.container {
    margin-left: 35%;
    margin-right: 20%;
}

h2{
 background-color: #B8860B;
 padding: 30px 35px;
 margin: -10px -50px;
 text-align:center;
 color: #fff;
}


hr{
 margin: 1px -50px;
 border: 0;
 border-top: 1px solid #ccc;
 margin-bottom: 25px;
}
 
div.main{
 width: 306px;
 padding: 10px 50px 30px;
 border: 2px solid gray;
 font-family: raleway;
 float:center;
 margin-top:15px;
}
 
input[type=text]{
 width: 96%;
 height: 25px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #B8860B;
 font-size: 16px;
}
 
 
label{
 color: #B8860B;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
}
 
input[type=submit]{
 font-size: 16px;
 background: linear-gradient(#B8860B 5%, #fff 100%);
 color: #B8860B;
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 padding: 10px 0;
 outline:none;
}


